@model ProductsCreateFormViewModel


<section class="create-product">
    <div class="container">
        <h1 class="create-product-title">CREATE NEW PRODUCT</h1>

        <form novalidate method="post" class="product-form">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="product-image">
                <label asp-for="ProductNumber">Product Number*</label>
                <input asp-for="ProductNumber" type="text" onkeyup="validateProductNumber(event)">
                <span asp-validation-for="ProductNumber" class="text-danger"></span>
            </div>

            <div class="product-title">
                <label asp-for="ProductName">Product Name*</label>
                <input asp-for="ProductName" type="text" onkeyup="validateProductName(event)">
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="product-description">
                <label asp-for="Description">Product description</label>
                <textarea asp-for="Description" type="text" class="resize"></textarea>
            </div>

            <div class="product-price">
                <label asp-for="Price">Price*</label>
                <input asp-for="Price" type="text" onkeyup="validateProductPrice(event)">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="product-new-price">
                <label asp-for="ImageUrl">Product image*</label>
                <input asp-for="ImageUrl" type="text" onkeyup="validateProductImage(event)">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="mt-5 d-flex justify-content-evenly">
                @foreach(SelectListItem tag in ViewBag.Tags)
                {
                    <div>
                        <input type="checkbox" name="Tags" id="tag-@tag.Text-@tag.Value" value="@tag.Value" checked="@tag.Selected" class="form-check-input" />
                        <label for="tag-@tag.Text-@tag.Value" class="form-check-label">@tag.Text</label>
                    </div>
                }
            </div>


            <button class="btn-theme">CREATE</button>
        </form>
    </div>
</section>
