@model ProductsCreateFormViewModel

<section class="create-product">
    <div class="container">
        <h1 class="create-product-title">CREATE NEW PRODUCT</h1>

        <form novalidate method="post" class="product-form">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="product-image">
                <label asp-for="ImageUrl">Product image*</label>
                <input asp-for="ImageUrl" type="text">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="product-title">
                <label asp-for="ProductName"></label>
                <input asp-for="ProductName" type="text">
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="product-description">
                <label asp-for="Description">Product description</label>
                <textarea asp-for="Description" type="text" class="resize"></textarea>
            </div>

            <div class="product-price">
                <label asp-for="Price">Price*</label>
                <input asp-for="Price" type="text">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

        @*    <div class="product-new-price">
                <label asp-for="DiscountPrice">Discounted Price</label>
                <input asp-for="DiscountPrice" type="text">
            </div>*@


            <button class="btn-theme">CREATE</button>
        </form>
    </div>
</section>
