@model CommentedProductsModel

<section class="commented-products">
    <div class="container">
        <div class="collection-grid">

            @if (Model.CommentedProducts != null)
            {
                @foreach (var product in Model.CommentedProducts)
                {
                    <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />
                }
            }


        </div>
    </div>
</section>
