@model TopSellingModel

<section class="top-selling">
    <div class="container-fluid">

        @if(Model.Title != null)
        {
            <h1 class="collection-title">@Model.Title</h1>
        }

        <div class="collection-grid">

            @if (Model.TopSellingProducts != null)
            {
                @foreach (var product in Model.TopSellingProducts)
                {
                    <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />
                }
            }

        </div>

        @if (Model.ArrowButtons)
        {
            <div class="load-more">
                <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="btn-outline-white ms-1"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        }
    </div>
</section>
